.bar{
    width: 4px;
    margin-left: 2px;
    background-color: aqua;
}
.container{
    background-color: black;
    height: 100vh;
}
.display-field{
    justify-content: center;
    align-items: flex-end;
    width: 70vw;
    height: 50vh;
    margin:0 auto;
    display: flex;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(80%, rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.3)));
    /* -webkit-box-reflect: below 0px linear-gradient(#0001,#0003); */

}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
button{
    z-index: 100;
    margin: 20px;
    background-color: black;
    color: aqua;
    border: aqua 3px solid;
    border-radius: 1rem;
    /* width: 90px; */
    height: 30px;
    font-weight: 600;
}
button:focus{
    outline: none;
    color: white;
    border: white 3px solid;
}